li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

li > button {
    background: #e2e2e2;
    color: red;
    transition: all .3s ease-in;
}

li > button:hover {
    background: red;
    color: #f9f9f9;
    border-color: transparent;
}