.addInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

#text {
    height: 30px;
    font-size: 25px;
}

.displayer__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 10px;
    text-transform: uppercase;
}

.apercu {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.apercu > span {
    border-radius: 15px;
    border: 1px solid #f9f9f9;
    padding: 15px;
}